{% extends "base.html" %}
{% block content %}
        <h1 align="left"><b>new post</b></h1>
        <form method='POST' action='/newpost'>
            <label>
                title:<br>
                <input name="title_in" type="text" value="{{title_in}}"/><br>
                <span class='error'>{{error_title}}</span>
            </label><br><br>
            <label>
               post:<br>
                <textarea name="entry_in" rows="10" cols="30" >{{entry_in}}</textarea><br>
                <span class='error'>{{error_content}}</span>
            </label>
            <input type="submit"/>
        </form>

{% endblock %}
   